{% extends "base.html" %}
{% block title %}log-in{% endblock %}
{% block content %}
     {% if request.user.is_authenticated %}

         {% else %}
    <h1>ورود به حساب کاربری</h1>

    {% if form.errors %}
       <p>نام کاربری و رمز عبور مطابقت ندارد ، لطفا دوباره سعی کنید</p>
       <p>اگر حساب کاربری ندارید  <a href="{% url "register" %}">اینجا ثبت نام کنید</a></p>

        {% else %}
        <p>لطفا برای ورود به حساب کاربری خود موارد خواسته شده را وارد کنید <br>
            در صورتی که حساب کاربری ندارید  <a href="{% url "register" %}">اینجا ثبت نام کنید</a>
        </p>


    {% endif %}
    <div class="login-form">

    <form action="{% url "login" %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        <p><input type="submit" value="ورود"></p>
    </form>
    <p><a href="{% url "password_reset" %}">رمز عبور خود را فراموش کرده اید؟</a> </p>
    </div>

    {% endif %}
{% endblock %}